@import "variable";
.about {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}

.about__img_containe {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about__img-big {
  width: 47%;
  height: 300px;
  margin: 5px;
}

.about__img {
  width: 23%;
  margin: 5px;
}