@import "variable";
.contener-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-top: 5px;
}

.header__top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1001;
  max-width: 1920px;
  margin: 0 auto;
}

.header__top_title {
  display: none;
  font-size: 1.1rem;
}

.menu__list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.header__menu {
  flex-grow: 2;
}

.menu__item {
  margin-left: 40px;
  &:first-child {
    margin-left: 0;
  }
}

.header__info_tel {
  display: none;
}

.menu__link {
  position: relative;
  padding-bottom: 4px;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #323232;
  cursor: pointer;
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 0;
    height: 2px;
    background: $primary-color;
    transition: width .4s;
  }
  &:hover::after {
    width: 100%;
  }
}

.social {
  flex-grow: 0.1;
}

.social__link {
  display: inline-block;
  margin-top: 5px;
  fill: $primary-color;
  &:hover {
    fill: #f49a20
  }
}

.headerBooking__btn {
  padding: 10px 30px;
  background-color: $primary-color;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  &:hover {
    background-color: #f49a20;
  }
}

.header__middle {
  height: 100vh;
  background: url(../img/headerBG1920.jpg) no-repeat top/cover;
}

.menu {
  text-align: right;
}

.menu__icon {
  display: none;
  width: 35px;
  height: 17px;
  position: relative;
  cursor: pointer;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #323232;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2),
.menu__icon span:nth-child(3) {
  top: 10px;
}

.menu__icon span:nth-child(4) {
  top: 20px;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__list {
  display: block;
}

.header__top_sub {
  position: fixed;
  top: 70px;
  z-index: 999;
  width: 100%;
  height: 70px;
  display: flex;
  background-color: #fff;
}

.header__top_sub-hide {
  display: none;
}

.top__sub_title {
  flex: 1 0 auto;
  display: inline-block;
}

.sub__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.header__top,
.header__top_sub {
  border-bottom: 1px solid #7e7c7c;
  background-color: #ffffff;
  box-shadow: 0 0 1px #7e7c7c;
}

.header__description {
  margin-top: 95px;
  text-align: center;
  padding: 30px 0;
  background-color: #fafafa
}

.header__description_title {
  line-height: 1.4rem;
}

.description__info_tel {
  color: #323232
}

.title__description {
  //margin-top: 10px;
  padding: 0 25px 15px 25px;
}