
@import "variable";


figcaption {
  margin: 10px 0;
}
.price {
  padding-bottom: 30px;
  text-align: center;
  background-color: #fafafa;
  color: #323232; 
  
}

.price__catigories {
  width: 230px;
  margin: 0 auto;
  // margin-bottom: 20px;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid #323232 
}

.price__text-desc {
  display: block;
  margin: 10px 0;
}

.in__room {
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
   
}

.price__room {
  width: 290px;
  height: 190px;
}

.in__room_item {
  flex-grow: 0;     /* флекс элемент увеличивается */
	flex-shrink: 0;   /* флекс элемент сжимается*/
  flex-basis: 33%;
  white-space: nowrap;
  padding: 20px 0;
  margin: 5px;
  padding: 5px;
  font-size: 1.5rem;
  border: 1px solid #323232;
  border-radius: 6px;
  background-color: #fafafa;  
}

.price__text {
  padding-top: 15px;
}
